@charset "utf-8";

/* CSS Document */
body {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	margin: 0;
	min-width: 980px;
	padding: 0;
	color: #5a5a5a;
	font-family: "Helvetica Neue", "Hiragino Sans GB", "Segoe UI",
		"Microsoft Yahei", "微软雅黑", Tahoma, Arial, STHeiti,
		sans-serif !important;
}

.about-h {
	text-shadow: 5px 5px 40px #666;
}

.about-h a {
	text-shadow: 1px 1px 80px #000;
	color: white;
	text-decoration: none;
}

.about-h a:hover {
	color: #3f7cdd;
}

h1 {
	font-family: "Helvetica Neue", "Hiragino Sans GB", "Segoe UI",
		"Microsoft Yahei", "微软雅黑", Tahoma, Arial, STHeiti,
		sans-serif !important;
	font-weight: 700;
	font-style: normal;
	color: #fff;
	font-size: 4em;
}

.sub-h2 {
	color: #fff;
}

.home {
	margin-top: 1%;
}

h2 {
	font-family: "Helvetica Neue", "Hiragino Sans GB", "Segoe UI",
		"Microsoft Yahei", "微软雅黑", Tahoma, Arial, STHeiti,
		sans-serif !important;
	font-size: 40px;
	font-weight: 900;
	font-style: normal;
}

h3 {
	font-family: "Helvetica Neue", "Hiragino Sans GB", "Segoe UI",
		"Microsoft Yahei", "微软雅黑", Tahoma, Arial, STHeiti,
		sans-serif !important;
	font-size: 30px;
	font-weight: 800;
	font-style: normal;
}

p {
	margin: 0 0 20px 0;
	font-family: "Helvetica Neue", "Hiragino Sans GB", "Segoe UI",
		"Microsoft Yahei", "微软雅黑", Tahoma, Arial, STHeiti,
		sans-serif !important;
	font-style: normal;
	font-weight: 200;
}

.center {
	text-align: center;
	margin: 0 auto;
}
/*============= fullpage.css fix========== */
#section0 .fp-tableCell,#slide2 .fp-tableCell,#slide3 .fp-tableCell,#slide4 .fp-tableCell
	{
	display: block;
}

.intro {
	position: fixed;
	display: none;
	opacity: 0;
	-webkit-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
}

#hjb .info {
	color: #000;
	text-shadow: 2px 2px 13px #fff;
	border-radius: 30px;
	background-color: rgba(142, 142, 142, 0.7);
}

#hjb {
	top: 10%;
	left: 0;
}

#hjb:hover {
	-webkit-transform: scale(1.5);
	-ms-transform: scale(1.5);
	transform: scale(1.5);
}

#lwx:hover {
	-webkit-transform: scale(1.5);
	-ms-transform: scale(1.5);
	transform: scale(1.5);
}

#lwx .info {
	color: #000;
	text-shadow: 2px 2px 13px #fff;
	border-radius: 30px;
	background-color: rgba(142, 142, 142, 0.7);
}

#lwx {
	top: 60%;
	left: 0;
}

#hjj {
	top: 30%;
	left: 29%;
}

#hjj .info {
	color: #000;
	text-shadow: 2px 2px 13px #fff;
	border-radius: 30px;
	background-color: rgba(142, 142, 142, 0.7);
}

#hjj:hover {
	-webkit-transform: scale(1.5) translate(0, -5%);
	-ms-transform: scale(1.5) translate(0, -5%);
	transform: scale(1.5) translate(0, -5%);
}

#hzy {
	top: 15%;
	left: 15%;
}

#hhc {
	top: 15%;
	left: 55%;
}

#del {
	top: 55%;
	left: 35%;
}

#hzy:hover,#hhc:hover,#del:hover {
	-webkit-transform: scale(1.5);
	-ms-transform: scale(1.5);
	transform: scale(1.5);
}
/*======================================================*/
.info {
	color: #000;
	font-size: 1.5em;
	text-shadow: 2px 2px 5px #666;
}

.intro img {
	float: left;
}

img {
	border: 0;
}

.round {
	border-radius: 30px;
}

.intro .icon-like {
	margin-right: 3%;
	width: 30%;
	box-shadow: 10px 10px 30px #000;
}

.imgset {
	margin-top: 5%;
	text-align: center;
}

.imgset .icon-like {
	width: 62%;
	height: 50%;
	box-shadow: 5px 5px 30px #000;
	-webkit-transition: -webkit-transform .3s ease-in-out;
	transition: transform .3s ease-in-out;
}

.imgset .icon-like:hover {
	-webkit-transform: scale(1.2);
	-ms-transform: scale(1.2);
	transform: scale(1.2);
}

.wwa {
	width: 35%;
	margin: 0 auto;
	font-size: 1.5em;
	color: #aaa;
	margin-top: -8%;
	padding-left: 100px;
}
/* Backgrounds will cover all the section
	* --------------------------------------- */
#section0,#section1,#section2,#section3 {
	background-size: 100%;
}
/* Defining each section background and styles
	* --------------------------------------- */
#section0 {
	color: #000;
	background-image: url(../images/about-us/campus.jpg);
	padding: 0 0 0 0;
}

#section1 {
	background-color: #40cccc;
	padding: 0 0 0 0;
}

#section2 {
	background-image: url(../images/about-us/thirdBG.jpg);
	padding: 0 0 0 0;
}

#section3 {
	
}
/*Adding background for the slides
	* --------------------------------------- */
#slide1,#slide2,#slide3,#slide4 {
	background-size: 100%;
}

#slide2 {
	background-image: url(../images/about-us/server.png);
	padding: 0 0 0 0;
}

#slide3 {
	background-image: url(../images/about-us/frontend.png);
	padding: 0 0 0 0;
}

#slide4 {
	background-image: url(../images/about-us/pr.png);
	padding: 0 0 0 0;
}
/*==================join us list================*/
ul {
	font-family: "Proxima Nova Light", 'Helvetica Neue', Arial, Helvetica,
		sans-serif;
	font-style: normal;
	float: left;
}

ul.short {
	width: 33%;
	text-align: center;
}

li {
	font-weight: 200;
	font-size: 18px;
}

li.list-group-heading {
	font-size: 25px;
}

li.blue {
	background-color: #AFEEEE;
}

li.green {
	background-color: #F5F5DC;
}

li.red {
	background-color: #98FB98;
}

a.white:hover {
	color: white;
}

a.white:visited {
	color: white;
}

a.white:active {
	color: white;
}

a.white:link {
	color: white;
}

.homeHref {
	display: block;
	width: 390px;
	height: 120px;
	background: url(../images/about-us/header.png) no-repeat scroll center
		center transparent;
}

.joinIntro {
	margin-top: 40px;
	text-indent: 2em;
	display: block;
}

.join {
	text-indent: 2em;
	margin-bottom: 30%;
}