@charset "utf-8";

/* CSS Document */

/* global */

html,
body {
    margin: 0;
    padding: 0;
    border: 0;
    background-color: #EAE6E0;
}
h1,
h2 {
    font-size: 1em;
    margin: 1em 0;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
li {
    display: inline-block;
    overflow: auto;
}
header,
footer {
    text-align: center;
}
/*special*/

#header,
#footer {
    width: 100%;
    text-align: center;
    position: fixed;
    padding: 0;
    color: rgba(255, 255, 255, 0.8);
    background-color: rgba(0, 0, 0, 0.88);
    z-index: 50;
}
#header {
    top: 0;
}
#footer {
    bottom: 0;
}
.league-list {
    overflow-y: auto;
}
.league {
    vertical-align: middle;
    float: left;
    margin-top: 5px;
    margin-bottom: 5px;
    border: 1px solid #d8d8d8;
    -moz-border-radius: 2px 2px;
    border-radius: 2px 2px;
    background-color: #FAF9F7;
}
.league-card {
    position: relative;
}
.apply-btn {
    position: absolute;
    -moz-border-radius: 1px 1px;
    border-radius: 1px 1px;
    top: 3%;
    right: 0;
}
.img-box {
    display: table-cell;
    vertical-align: middle;
    width: 35%;
    height: 100%;
    padding: 0.3em 0.4em 0.3em 0;
}
.league-photo {
    display: block;
    padding: 0.2em;
    border: 1px solid #dedede;
    -moz-box-shadow: 0.5px 0.5px 0.5px #e5e5e5;
    box-shadow: 0.5px 0.5px 0.5px #e5e5e5;
    width: 100%;
}
.league-info {
    display: table-cell;
    width: 65%;
}
.league-title {
    font-weight: bold;
}
.league-intro {
    height: 70%;
    text-overflow: ellipsis;
}
#template,
.template {
    display: none;
}
.react-alert {
    position: fixed;
    bottom: 10%;
    z-index: 200;
    display: none;
    text-align: center;
    font-size: 1.2em;
    font-family: "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}
.react-alert span {
    padding: 0 0.1em;
    color: #5199ed;
    text-shadow: 1px 1px 1px #868686;
}
#successAlert {
    -moz-box-shadow: 0 0 10px rgba(150, 235, 96, 0.68);
    box-shadow: 0 0 10px rgba(150, 235, 96, 0.68);
}
#errorAlert {
    -moz-box-shadow: 0 0 10px rgba(237, 115, 115, 0.68);
    box-shadow: 0 0 10px rgba(237, 115, 115, 0.68);
}
.site-link {
    -webkit-animation: neon 1s ease-in-out infinite alternate;
    -moz-animation: neon 1s ease-in-out infinite alternate;
    -o-animation: neon 1s ease-in-out infinite alternate;
    animation: neon 1s ease-in-out infinite alternate;
    font-weight: bold;
}
/*glow*/

@-webkit-keyframes neon {
    to {
        text-shadow: 0 0 5px #2636fc, 0 0 8px #2636fc, 0 0 10px #2636fc, 0 0 20px #2636fc, 0 0 30px #2636fc, 0 0 50px #2636fc, 0 0 75px #2636fc;
    }
}
@-moz-keyframes neon {
    to {
        text-shadow: 0 0 5px #2636fc, 0 0 8px #2636fc, 0 0 10px #2636fc, 0 0 20px #2636fc, 0 0 30px #2636fc, 0 0 50px #2636fc, 0 0 75px #2636fc;
    }
}
@-o-keyframes neon {
    to {
        text-shadow: 0 0 5px #2636fc, 0 0 8px #2636fc, 0 0 10px #2636fc, 0 0 20px #2636fc, 0 0 30px #2636fc, 0 0 50px #2636fc, 0 0 75px #2636fc;
    }
}
@keyframes neon {
    to {
        text-shadow: 0 0 5px #2636fc, 0 0 8px #2636fc, 0 0 10px #2636fc, 0 0 20px #2636fc, 0 0 30px #2636fc, 0 0 50px #2636fc, 0 0 75px #2636fc;
    }
}
/* modal form style */

.form-group .control-label {
    padding-top: 7px;
    margin-bottom: 0;
    text-align: right;
    vertical-align: middle;
}
.form-group label.error {
    font-size: 0.8em;
    color: red;
    font-weight: normal;
}