body {
	background-color: #fff;
	font-family: "Helvetica Neue", "Hiragino Sans GB", "Segoe UI",
		"Microsoft Yahei", "微软雅黑", Tahoma, Arial, STHeiti, sans-serif;
	width: 100%;
	height: 100%;
	min-width: 1200px;
	background: none repeat scroll 0% 0% #FFF;
	margin: 0px;
	padding: 0px;
}

a:hover {
	text-decoration: none;
}

.header {
	position: relative;
	height: 80px;
	min-width: 1200px;
	z-index: 10;
	top: -10px;
	opacity: 0;
}

.header-contain {
	width: 95%;
	margin-left: auto;
	margin-right: auto;
	height: 80px;
	border-bottom: 1px solid #222526;
}

.logo-contain {
	position: absolute;
	left: 30px;
	top: 20px;
	text-align: center;
}

.header-right {
	position: absolute;
	right: 20px;
	top: 0px;
}

.logo {
	display: block;
	height: 43px;
	width: 119px;
	background: url('../images/logo.jpg') no-repeat scroll center 0px
		transparent;
}

.right-item {
	display: inline-block;
	margin: 0 10px;
}

.ul {
	list-style: none outside none;
	margin: 0px;
}

.right-item a {
	display: block;
	height: 80px;
	font-size: 14px;
	line-height: 80px;
	padding: 0px 10px;
	transition: all 0.3s ease 0s;
	color: #656E73;
	border-bottom: 1px solid #222526;
}

.right-item a:hover {
	color: #FFF;
	border-color: #BE3948;
}

.right-item li {
	text-decoration: none;
}

.head-mid {
	width: 100%;
	text-align: center;
}

.band {
	position: relative;
	min-height: 650px;
	overflow: hidden;
	margin-top: -81px;
	min-width: 1200px;
	background-color: #000;
}

.band-bg {
	position: absolute;
	left: 0px;
	top: 0px;
	right: 0px;
	bottom: 0px;
	opacity: 0;
	background: url('../images/band-bg.jpg') no-repeat scroll center 0px
		transparent;
	min-width: 1200px;
}

.band-about {
	margin-top: 30px;
}

.band-about span {
	display: inline-block;
	padding-right: 18px;
	height: 16px;
	line-height: 16px;
	font-size: 18px;
	color: #CECECE;
	cursor: pointer;
	background: url('../images/play-icon.png') no-repeat scroll right 0px
		transparent;
}

.band-text {
	position: absolute;
	top: 330px;
	right: 80px;;
	opacity: 0;
	text-align: right;
}

.band-contain {
	position: relative;
	z-index: 9;
}

.band-title {
	width: 644px;
	height: 147px;
	background: url('../images/main-text.png') no-repeat scroll 0% 0%
		transparent;
}

.btnFind {
	display: inline-block;
	height: 80px;
	width: 240px;
	line-height: 60px;
	text-align: center;
	font-size: 30px;
	color: #FFF;
	border-radius: 50px;
	transition: all 0.15s ease 0s;
	background: url('../images/begin-text.png') no-repeat scroll center
		center #A32929;
}

.btn-inner-join {
	padding-top: 40px;
	text-align: center;
}

.btn-inner {
	margin-top: 40px;
	text-align: right;
}

.characters {
	min-width: 1200px;
	background-color: #FFF;
	margin: 0px auto;
}

.characters-container {
	position: relative;
	padding: 40px 120px;
	height: 283px;
}

.char-icon1 {
	position: absolute;
	left: 120px;
	top: 60px;
	width: 135px;
	height: 183px;
	background: url('../images/char-icon1.png') no-repeat scroll center
		center transparent;
}

.char-icon2 {
	position: absolute;
	top: 60px;
	left: 50%;
	margin-left: -90px;
	width: 180px;
	height: 181px;
	background: url('../images/char-icon2.png') no-repeat scroll center
		center transparent;
}

.char-icon3 {
	position: absolute;
	top: 65px;
	right: 120px;
	width: 166px;
	height: 181px;
	background: url('../images/char-icon3.png') no-repeat scroll center
		center transparent;
}

.intro1 {
	background-color: #EEF1F2;
	min-width: 1200px;
}

.intro1-wrap {
	position: relative;
	height: 400px;
	z-index: 1;
}

.intro1-img {
	position: absolute;
	width: 581px;
	height: 431px;
	bottom: -30px;
	left: -15px;
	z-index: 9;
	background: url('../images/01-video.png') no-repeat scroll 0px 0px
		transparent;
}

.intro1-text {
	position: absolute;
	right: 105px;
	top: 164px;
	width: 493px;
	height: 70px;
	background: url('../images/01-text.png') no-repeat scroll 0px 0px
		transparent;
}

.intro3 {
	background-color: #EEF1F2;
	min-width: 1200px;
}

.intro3-wrap {
	position: relative;
	height: 400px;
	z-index: 1;
}

.intro3-img {
	position: absolute;
	width: 581px;
	height: 431px;
	bottom: -30px;
	left: -15px;
	z-index: 9;
	background: url('../images/03-rockets.png') no-repeat scroll 0px 0px
		transparent;
}

.intro3-text {
	position: absolute;
	right: 105px;
	top: 164px;
	width: 493px;
	height: 70px;
	background: url('../images/03-text.png') no-repeat scroll 0% 0%
		transparent;
}

.intro2 {
	background-color: #FFF;
	min-width: 1200px;
}

.intro2-wrap {
	position: relative;
	height: 400px;
	z-index: 1;
}

.intro2-img {
	position: absolute;
	width: 580px;
	height: 430px;
	top: -30px;
	right: 0px;
	background: url('../images/02-computer2.png') no-repeat scroll center
		0px transparent;
}

.intro2-text {
	position: absolute;
	top: 165px;
	left: 105px;
	width: 512px;
	height: 70px;
	background: url('../images/02-text.png') no-repeat scroll 0% 0%
		transparent;
}

.intro4 {
	background-color: #FFF;
	min-width: 1200px;
}

.intro4-wrap {
	position: relative;
	height: 400px;
	z-index: 1;
}

.intro4-img {
	position: absolute;
	right: 0px;
	top: -30px;
	width: 581px;
	height: 430px;
	z-index: 9;
	top: 0px;
	background: url('../images/04-hand.png') no-repeat scroll 0px 0px
		transparent;
}

.intro4-text {
	position: absolute;
	width: 422px;
	height: 70px;
	top: 165px;
	left: 146px;
	background: url('../images/04-text.png') no-repeat scroll 0% 0%
		transparent;
}

.icommunity {
	margin-top: 50px;
	background-color: #fff;
}

.icommunity-contain {
	width: 1200px;
	margin: 0px auto;
	text-align: center;
}

.icommunity-container {
	list-style: none outside none;
	margin: 0px;
}

.icommunity-title {
	text-align: center;
	width: 64px;
	height: 31px;
	margin: 0px auto;
	font-size: 32px;
	padding: 40px 0px 30px;
	line-height: 1em;
	background: url('../images/community-text.png') no-repeat scroll center
		center transparent;
}

.communityShowItem {
	display: inline-block;
	margin-left: 20px;
	box-shadow: 1px 2px 0px rgba(0, 0, 0, 0.05);
}

.icommunity-footer {
	padding: 40px 0px 60px;
	text-align: center;
}

.icommunity-footer a {
	display: inline-block;
	width: 118px;
	border-radius: 50px;
	height: 38px;
	line-height: 38px;
	border: 1px solid #D0D6D9;
	font-size: 16px;
	color: #363D40;
	transition: all 0.3s ease 0s;
}

.joinCampusite {
	height: 360px;
	overflow: hidden;
	background-color: #EEF1F2;
	min-width: 1200px;
}

.hide-text {
	width: 350px;
	height: 30px;
	background: url('../images/join-text.png') no-repeat scroll 0% 0%
		transparent;
	padding-top: 1px;
	margin: 110px auto 0px;
}

.footer-home {
	background-color: #FFF;
	min-width: 1200px;
	margin: 0px auto;
}

.footer-wrap {
	padding-top: 30px;
	text-align: center;
}

.footer-wrap a {
	display: inline-block;
	height: 32px;
	width: 32px;
	vertical-align: middle;
	background-image: url('../images/idx-btm.png');
	background-repeat: no-repeat;
	margin: 0px 9px;
	cursor: pointer;
}

.footer-weibo {
	background-position: 0px -221px;
}

.footer-weibo:hover {
	background-position: 0px -262px;
}

.footer-weixin {
	position: relative;
	background-position: -52px -221px;
}

.footer-weixin:hover {
	background-position: -52px -262px;
}

.footer-qqbo {
	background-position: -104px -221px;
}

.footer-qqbo:hover {
	background-position: -104px -262px;
}

.footer-qqzone {
	background-position: -156px -221px;
}

.footer-qqzone:hover {
	background-position: -156px -262px;
}

.footer-link {
	width: 900px;
	padding: 25px 0px;
	margin: 0px auto;
	text-align: center;
	border-bottom: 1px solid #F4F7F8;
}

.footer-link a {
	margin: 0px 10px;
	color: #99A1A6;
}

.footer-copyright {
	padding: 20px 0px 25px;
	text-align: center;
	color: #B4BBBF;
}

.icommunity li:hover img {
	transform: scale(1.2);
}

.img_container {
	overflow: hidden;
}

.img_container img {
	transition: all 0.3s ease 0s;
	line-height: 1em;
}
.content_container{
	margin:0px;
	position: relative;
	overflow: hidden;
	
}
.content_info {
	position: absolute;

	left: 0px;
	right: 0px;
	height: 118px;
	background: none repeat scroll 0% 0% #FFF;
	font-size: 12px;
	transition: all 0.3s ease 0s;
	z-index: 9;
}

.content_tips {
	opacity: 0;
	position: absolute;
	left: 0px;
	right: 0px;
	height: 118px;
	font-size: 12px;
	transition: all 0.3s ease 0s;
	z-index: 9;
}