/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper .container {
	padding-left: 0;
	padding-right: 0;
}

.navbar-wrapper .navbar {
	padding-left: 15px;
	padding-right: 15px;
}
/* Navbar positioning foo */
	.navbar-wrapper {
		margin-top: 20px;
	}
	.navbar-wrapper .container {
		padding-left: 15px;
		padding-right: 15px;
	}
	.navbar-wrapper .navbar {
		padding-left: 0;
		padding-right: 0;
	}

	/* The navbar becomes detached from the top, so we round the corners */
	.navbar-wrapper .navbar {
		border-radius: 4px;
	}
	.navbar-form.navbar-costom:last-child {
	float: right;
	margin-right: 15px;
}
.nav_cust {
	float: right;
	margin-right: 20px;
	margin-top:15px;
}
.nav-tabs>li {
	float: left;
	margin-bottom: -1px;
	margin-left: 70px;
}
ul.nav li.dropdown:hover ul.dropdown-menu{ 
display: block; 
}
#nav-bar-avatar{
	margin-top:-8px;
}
.mentionBody {
	z-index: 1010;
	width: 380px;
	padding: 1px;
	text-align: left;
	white-space: normal;
	background-color: #fafafa;
	border: 1px solid #cccccc;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 6px;
	-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	background-clip: padding-box;
	position: fixed;
	top: 0;
	left: 0;
	display: none;
	
}
.mentionBody.bottom {
	margin-top: 10px;
}

.mentionBody-title {
	padding: 8px 14px;
	margin: 0;
	font-size: 20px;
	font-weight: border;
	line-height: 18px;
	background-color: #f7f7f7;
	border-bottom: 1px solid #ebebeb;
	border-radius: 5px 5px 0 0;
}

.mentionBody-content {
	padding: 9px 14px;
	max-height:600px;
	overflow:auto;
	overflow-x: hidden;
}

.mentionBody::before {
	content: '';
	display: inline-block;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-bottom: 6px solid rgba(0, 0, 0, 0.2);
	position: absolute;
	top: -7px;
	left: 251px;
}

.mentionBody::after {
	content: '';
	display: inline-block;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-bottom: 6px solid white;
	position: absolute;
	top: -6px;
	left: 251px;
}

.NotiItem {
	width: 300px;
	height: 70px;
	cursor:pointer;
}
.NotiItem h1{
	margin:0px;
}
.NotiItem:hover {
	background-color: #f6f6f6;
}
.img_cust {
	margin-top: 7px;
}
.notifyItem {
	width: 380px;
	background-color: #fff;
}

.arrowBack {
	float: left;
	margin-top:5px;
	margin-left:5px;
	cursor:pointer;
}
#arrowBack{
	display:none;
}
.mentionClose {
	font-size: 12px;
	float: right;
	cursor:pointer;
}

.NotiItem h1 {
	font-size: 16px;
	font-weight: bolder;
	color: #aaaaaa;
}
.home-nav span{
	font-size:16px;
	margin:5px;
}
.navbar-brand{
	padding-bottom:0px;
}

.home-nav{
	margin-top:0px;
	margin: 15px 0px 5px;
}
.nav > li > a {
	text-align:center;
	padding: 10px;
}
.home-nav a{
	transition: all 0.3s ease 0s;
	display: block;
	height: 50px;
	
}
.home-nav > li{
	margin-left:10px;
	
}
.home-nav a:hover{
	border-bottom:1px solid #BE3948;
	
}
.show-bar li{
	margin-top:3px;
	transition: all 0.3s ease 0s;
}
.show-bar{
	width:62px;
	cursor:pointer;
	display:none;
	color:#999;
	text-align:center;
	margin-top:-5px;
	
}
.home-bar{
	padding-right:6px;
}
.show-bar li:hover{
	color:#fff;
	border-bottom:1px solid #BE3948;
}
.activity-bar {
	margin-left:7px;
}

.navbar-costom{
	margin-top:22px;
}